.navbar{
    background-color: rgb(62, 1, 70);
    color: white;
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}
.brand h2{
    margin: 0;
}
.links{
    display: flex;
    gap:25px;
    align-items: center;
    list-style: none;
}

.link{
    color: aliceblue;
}

